@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
    background: url('https://media.giphy.com/media/1zRfp0Jwsag4yPekP4/giphy.gif')no-repeat center center/cover;
}

	  
/* @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
	.container {
	  -webkit-backdrop-filter: blur(10px);
	  backdrop-filter: blur(10px);
	}
} */
.container .col1{
	background: linear-gradient(-45deg, #353131, #403949, #2e4b58, #1e4e69);
	animation: gradient 10s ease infinite;
	border-radius: 20px;
	opacity: 0.7;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
p.fs-1{
	color: white;
	text-align: center;
}