@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.container{
    background: url('https://media.giphy.com/media/KAvcb0q8KQFjVYbhOf/giphy.gif')no-repeat center center/cover;
	border-radius: 20px;
}

	  
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
	.container {
	  -webkit-backdrop-filter: blur(10px);
	  backdrop-filter: blur(10px);
	}
}
.bgg {
	background: linear-gradient(-45deg, #59717C, #713FB2, #59717C, #293F4C);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
p.fs-1{
	color: white;
	text-align: center;
}